a {
	color: #D9D9D9;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #464646;
}
a:focus {
    outline: none;
    text-decoration: none;
    color: #4BD2FF;
}
a:active {
    text-decoration: none;
    color: inherit;
}
